<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringmvcTest:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringmvcTest_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringmvcTest/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringmvcTest" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC" />
          <element id="library" level="project" name="jackson-annotations-2.5.0" />
        </element>
      </element>
    </root>
  </artifact>
</component>